/* Grip */
.grid-container {
  padding: 10px;
}
.grid-wrapper {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: 1px;
  height: 100%;
}
.grid-item {
  width: 100%;
  height: auto;
  grid-row-start: auto;
}
.grid-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.virtal-img {
  display: inline-block;
  background-color: #eee;
}

/* Absolute */
.ab-wrapper {
  position: relative;
}
.ab-item {
  position: absolute;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: hidden;
}
.ab-item img {
  width: 100%;
  height: auto;
}
.loading {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: rgba(30,32,35,.78);
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.loading:before {
  content: " ";
  display: block;
  height: 150px;
  background: linear-gradient(180deg, #fff 17.29%, hsla(0, 0%, 100%, 0));
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: -145px;
  left: 0;
  width: 100%;
  pointer-events: none;
}

/* Flex */
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  flex-grow: 1;
  overflow: hidden;
}
.flex-item img {
  object-fit: cover;
  width: 100%;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid #ccc;
}