/* Grip */
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 0 10px;
  grid-auto-flow: row dense;
  grid-auto-rows: 1px;
}
.item {
  width: 100%;
  height: auto;
  grid-row-start: auto;
}
.item img {
  width: 100%;
  height: auto;
}
.virtal-img {
  display: inline-block;
  background-color: #eee;
}

/* Absolute */
.ab-wrapper {
  position: relative;
}
.ab-item {
  position: absolute;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.ab-item img {
  width: 100%;
  height: auto;
}
.loading {
  font-size: 14px;
  line-height: 20px;
  color: rgba(30,32,35,.78);
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.loading:before {
  content: " ";
  display: block;
  height: 150px;
  background: linear-gradient(180deg, #fff 17.29%, hsla(0, 0%, 100%, 0));
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: -145px;
  left: 0;
  width: 100%;
  pointer-events: none;
}
